{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <p>Bienvenue {{ app.user.firstname }}, c'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <hr>
    <a href="{{ path('account_password') }}">- Modifier mon mot de passe<br/></a>
    <a href="{{ path('account_address') }}">- Gérer mes adresses<br/></a>
    - Mes commandes<br/>
    <hr>
{% endblock %}
